services:
  wwc2025:
    build: .
    container_name: wwc2025
    restart: unless-stopped

    networks:
      - nginx-proxy_default

    environment:
      FLASK_ENV: "production"
      PORT: "5000"

    expose:
      - "5000"

networks:
  nginx-proxy_default:
    external: true
